body{
    background-color: #86A8E7;
}
h1{
    margin: 0; 

    padding: 10px 28px;
    font-weight: normal;
    text-transform: uppercase;
    background: black;
    color: white;
    text-align: center;
}
input{
    font-family: inherit;
    box-sizing: border-box;
    color: grey;
    font-weight: normal;
    width: 100%; 
    height: 50px; 
    font-size: 20px;
    padding-left: 25px;
    border-width: 3px 0; 
    border-style: solid;
    border-color: gray;

}